

<div class="container">

  <div class="row">
    <h1>Editing User</h1>

    <%= render 'form', user: @user %>
  </div>

  <br>

  <div class="row">
    <%= link_to 'Show', @user, class: "btn btn-success"  %> |
    <%= link_to 'Back', users_path, class: "btn btn-info"  %>
  </div>
