
<div class="container">

  <div class="row">
    <h1>Welcome To KavishTwitter</h1>

    <%= render 'form', user: @user %>
  </div>

  <br>

  <div class="row">
    <%= link_to 'Back', users_path, class: "btn btn-warning" %>
  </div>

</div>
