.navbar-default {
  background-color: $primary-color;
  border-color: $primary-color;
}

.navbar-default {
  .navbar-brand, .navbar-brand:hover, .navbar-nav > li > a {
    color: $inverse-text;
  }

  .navbar-toggle {
    border-color: $inverse-text;

    .icon-bar {
      background-color: $inverse-text;
    }
  }

  .navbar-toggle:focus, .navbar-toggle:hover {
    background-color: $accent-color;
  }
}

ul.nav.navbar-nav {
  a.dropdown-toggle:hover {
    color: $normal-text;
  }

  a.dropdown-toggle {
    color: $inverse-text;
  }
}

.dropdown:hover {
  .dropdown-menu {
    display: block;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
      color: $inverse-text;
  }
}
