/* Background Colors */
$primary-color: #0D94D2;        /* Cerner Blue */
$secondary-color: #7BC144;      /* Cerner Green */
$accent-color: #6A737C;         /* Gray */
$accent-color-alt: #00A8CC;     /* Teal */
$white-item-background: #ffffff;     /* White */
$gray-item-background: #F1F1F1;      /* Light Gray */

/* Text colors */
$normal-text: #333333;         /* Dark Gray */
$inverse-text: #FFFFFF;        /* White */
$errors: #D8000C;              /* Red */
$asterisk: '*';

/* Padding */
$gutter-px: 10px;
$gutter-em: 1em;
/* sizing */
$small-width: 20rem;