@import "variables";

.user-home-block {
  background: $background-color;
  border-radius: $gutter-px;
  border: thin $border-color solid;
  margin-right: $gutter-em;
  padding-bottom: $gutter-em;
}

.feed-list {
  list-style-type:none;
  margin-left: 0;
  padding-left: 0;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  float: right;
  a {
	  float: left;
    padding: 0 10px;
    border-left: 1px solid $logo-color;
    color: $logo-color;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: $secondary-color;
    }
  }
  strong {
    display: block;
  }
}