@import "variables";

.user-home-block {
  background: $background-color;
  border-radius: $gutter-px;
  border: thin $border-color solid;
  margin-right: $gutter-em;
  padding-bottom: $gutter-em;
}

.feed-list {
  list-style-type:none;
  margin-left: 0;
  padding-left: 0;
}